{:paths ["src"]
 :deps  {bidi/bidi                 {:mvn/version "2.1.6"
                                    :exclusions  [ring/ring-core]}
         cljs-http/cljs-http       {:mvn/version "0.1.46"}
         hiccup/hiccup             {:mvn/version "1.0.5"}
         kibu/pushy                {:mvn/version "0.3.8"}
         org.clojure/clojure       {:mvn/version "1.11.1"}
         org.clojure/clojurescript {:mvn/version "1.11.60"}
         reagent/reagent           {:mvn/version "1.2.0"}
         ring/ring-core            {:mvn/version "1.9.6"}
         skuttleman/defacto-forms+ {:git/url   "https://github.com/skuttleman/defacto"
                                    :git/sha   "897605c94cad82b2f1f6982e650dd7c15dd4f528"
                                    :deps/root "forms+"}}}
